.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: inherit;
    background-color: grey;
}

.latest-album {
    display: block;
    border: 1px solid #56CCF2;
    padding: 15px 30px;
    font-size: 33px;
    font-weight: 200;
    margin: 10px auto;
    background: inherit;
    cursor: pointer;
    color: white;
}

.play-btn{
    cursor: pointer;
    display: block;
    border: 2px solid #56CCF2;
    border-radius: 50%;
    padding: 20px;
    font-size: 40px;
    font-weight: 200;
    margin: 20px auto;
    background: inherit;
    color: #56CCF2;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h1{
    text-align: center;
}

.tour-item{
    display: flex;
    border-bottom: 1px solid black;
    padding: 15px;
    justify-content: space-between;
    width:900px;
    font-size: 20px;
}

.date{
    width: 12%;
    font-weight: bold;
}

.place{
    width: 25%;
    color: #777;
}

.spec-place{
    width: 53%;
    color: #777;
}

.buy-btn{
    width: 20%;
    background: #56CCF2;
    color: white;
    border: none;
    padding: 7px;
    border-radius: 5px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}